.about-global-wrap-custom {
  padding-bottom: 40px !important;
  padding-top: 40px !important;
}

.about-global-wrap-custom > h3 {
  margin-top: 0 !important;
}
.about-wrap-custom {
  
  font-family: 'Poppins', sans-serif !important;
}

.picture-col {
  margin-right: 0 !important;
}

.social-col {
  font-size: 0.9em;
  font-weight: lighter !important;
  color: rgb(24, 23, 23) !important;
}

.social-col > a:hover {
  background-color:#e7cd24 !important;
  color:rgb(56, 55, 55) !important;
}

.social-col > a {
  font-weight: bold;
  background-color: black;
  border: none;
  width: 40px;
}

.phone-button {
  font-weight: bold;
  background-color: black;
  border: none;
  width: 40px;
  height: 35px;
  font-size: 25px;
}

.phone-button:hover {
  background-color:#e7cd24 !important;
  color:black !important;
  border: none;
}

.email-button > p {
  margin-bottom: 0 !important;
  margin-top: 3px !important;
}

.email-col {
  font-size: 0.9em !important;
}

.email-button {
  font-weight: bold;
  background-color: black;
  border: none;
}

.email-button:hover {
  background-color: black;
  border: none;
  cursor: default !important;
}

.media-about {
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
  object-fit: cover;
  border-radius: 3px !important;
}

.profile-col {
font-size: 0.9em;
}

@media screen and (max-width : 768px) {
.media-about {
  display: none;
  }
  .social-col {
    text-align: center;
    margin-bottom: 40px;
  }
  .phone-col {
    margin-top: 5px;
  }
  .phone-custom {
    display: block;
    margin-bottom: 20px;
  }
  .email-custom {
    font-size: 1em;
    display: block;
  }
  .profile-col {
    text-align: center;
  }
}

@media screen and (max-width : 992px) {
    .social-tidy {
      text-align: center;
      margin-bottom: 40px;
    }
    .profile-col {
      text-align: center;
    }
    .phone-custom {
      display: block;
      margin-bottom: 20px;
    }
    .email-custom {
      font-size: 1em;
      display: block;
    }
  }

  @media screen and (min-width: 992px) and (max-width: 1220px) {
  .email-col {
    font-size: 0.79em !important;
  }
  .phone-col {
    font-size: 0.9em !important;
  }
}