.custom-navbar {
    border-width: 0;
    background: transparent;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.logo a {
    color: #fff;
    display: inline-block;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-top: 26px;
    text-transform: capitalize;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.logo a:focus {
    text-decoration: none;
}
.main-menu {
    text-transform: uppercase;
}
.main-menu ul.navbar-nav {
    float: right;
}
.main-menu ul.nav.navbar-nav li.active {
    position: relative;
}

 .main-menu ul.navbar-nav li a {
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    padding: 30px 13px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    position: relative;
}
.main-menu ul.navbar-nav li a:focus {
    background: none;
}
.main-menu ul li:hover a {
    color: #f9f9f9;
    background: none;
}
.custom-navbar.top-nav-collapse .logo a {
    margin-top: 18px;
    color: #222;
}
.custom-navbar.top-nav-collapse .main-menu ul.navbar-nav li a {
    color: #444;
    padding: 22px 13px;
}
.custom-navbar.top-nav-collapse .main-menu ul.nav.navbar-nav li.active a {
    color: #727272;
} .logo a span {
    display: inline-block;
    font-size: 28px;
    padding: 9px 5px 8px 7px;
}
.custom-navbar.top-nav-collapse {
    background: #fff;
    box-shadow: 0 0 10px #333;
    border-width: 0;
}
.custom-navbar.top-nav-collapse .main-menu ul.navbar-nav li.active a:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}



