.experience-wrapper {
padding-top: 40px !important;
background-color: whitesmoke;
font-family: poppins !important;
}

.custom-xp-event {
  border-radius: 20px !important;
}

.custom-xp-card {
  border: none;
}

.card-custom-title {
font-size: 1.4em !important;
}

.custom-line-xp {
  width: 80% !important;
}

.custom-xp-city {
  font-size: 0.7em !important;
}

@media screen and (max-width: 768px) {
  .custom-line-xp {
    width: 90% !important;
  }
  
}
